/*============================================================================*/
/*  lsa_ra_e.rc                                                               */
/*                                                                            */
/*  Resource module of a signal controller DLL for VISSIM (English version).  */
/*                                                                            */
/*  Version of 2004-12-14                                     Lukas Kautzsch  */
/*============================================================================*/

#include <windows.h>
#include "lsa_rahm.rh"

STRINGTABLE
{
 IDS_ERR_FILE_PREFIX, "scj"
 IDS_ALLGEMEINER_FEHLER, "General Error"
 IDS_INTERNER_FEHLER, "Internal Error"
 IDS_FUNKTION, "Function"
 IDS_GRUND, "Reason"
 IDS_UNZULAESSIGE_NR, "Illegal Parameter <No.>"
 IDS_UNBEKANNTE_FEHLERNR, "Unknown Error Number"
 IDS_PROG_ABGEBROCHEN, "Signal Control Program No. %d cancelled.\n"
 IDS_LSA, "SC"
 IDS_SGPNR_UNZULAESSIG, "Illegal Signal Group Number %lu!"
 IDS_SGPNR_UNBEKANNT, "Unknown Signal Group Number %lu!"
 IDS_VISSIM_SGPNR_UNBEK, "Unknown VISSIM Signal Group Number %lu!"
 IDS_DETNR_UNZULAESSIG, "Illegal Detector Number %lu!"
 IDS_DETNR_UNBEKANNT, "Unknown Detector Number %lu!"
 IDS_VISSIM_DETNR_UNBEK, "Unknown VISSIM Detector Number %lu!"
 IDS_LOOK_AT_ERR_FILE, "Controller DLL %s produced Run Time Warnings. See File %s.err!\n"
 IDS_KEIN_SPEICHER, "Out of memory!"
 IDS_UNBEKANNTES_SIGNALBILD, "Unknown Signal State"
 IDS_PUFFERENDE, "Unexpected End of Buffer"
 IDS_LSA_DEMO, "Signal Control Program is a Demo Version!"
 IDS_UNZUL_KOMMANDO, "Illegal Command"
 IDS_TRIPEL_SCHREIBEN, "Data Triple could not be written."
 IDS_DDE_INITIALISIERUNG, "DDE Interface not initialised."
 IDS_ZUWENIGE_PARAMETER, "Not enough Command Line Parameters"
 IDS_UEBER, "&About"
 IDS_WIRKLICH_BEENDEN, "If %s ist stopped during a running simulation the system can become unstable. Do you really want to stop %s?"
 IDS_OPEN_ERR_FILE, "The error message file %s could not be opened. This is the message that was intended to be written:\n%s"
 IDS_WRITE_ERR_FILE, "Error during writing to the error message file %s. This is the message that was intended to be written:\n%s"
 IDS_TOO_MANY_DET, "Too many detectors (maximum %lu)."
 IDS_TOO_MANY_SG, "Too many signal groups (maximum %lu)."
}

/*==========================================================================*/
/*  End of lsa_ra_e.rc                                                      */
/*==========================================================================*/
